.h1,
.h2,
.h4,
.h5,
.h6,
h1,
h2,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
}

body {
    font-family: 'Cantarell', sans-serif;
}

.typewrite {
    color: black;
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
}

.title {
    margin-top: 2rem;
    margin-bottom: 3.5rem;
    font-size: 35px;
    line-height: 1;
}

h1,
h5 {
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.headline {
    text-transform: initial;
    margin-top: 1.5rem;
    margin-bottom: -0.2rem;
    font-size: 20px;
}

.content {
    margin-top: 50px;
    margin-bottom: 30px;
    min-height: calc(100vh - 70px);
}

.footer {
    margin-top: 100px;
    height: 50px;
}