{% extends "base.html" %}

{% load socialaccount %}

{% block title %}Log in{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-8 col-md-10 col-sm-12">
    <div class="card">

      <div class="card-body">
        <h3 class="card-title"> <strong>Log in</strong> </h3>
          <p></p>
        <form method="post" novalidate>
          {% csrf_token %} 
          {% include 'includes/_form.html' %}
            <button type="submit" class="btn btn-primary btn-block">
              <strong>Log in</strong>
            </button>
        </form>
      </div>

      <div class="card-footer text-muted text-center">
        New to this blog? <a href="{% url 'signup' %}">Sign up</a>
      </div>

    </div>
    <div class="text-center py-2">
      <small> <a class="text-muted" href="{% url 'password_reset' %}">Forgot your password</a> </small>
    </div>  
  </div>
</div>
{% endblock content %}