{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
  <div class="title">
    <h1>Login</h1>
  </div>
  
  <form method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form%}
    {% buttons %}
      <button type="submit" class="btn btn-success">
        Login
      </button>
    {% endbuttons %}
  </form>
  <a href="#">Register</a><br>
  <a href="#">Can't Remember Password</a>
</div>
{% endblock content %}