{% extends "base.html" %}

{% block title %}Email Sent{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-8 col-md-10 col-sm-12">
    <div class="card">

      <div class="card-body">
        <h3 class="card-title text-center"> <strong>Reset your password</strong> </h3>
        <p>Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.</p>
        <form method="post" novalidate>
          {% csrf_token %} 
          {% include 'includes/_form.html' %}
            <a href="{% url 'login' %}" class="btn btn-secondary btn-block">
              <strong>Return to log in</strong>
            </a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}