{% extends "accounts/accounts_base.html" %}


{% block title %}
Reset Romplete
{% endblock %}


{% block card_title %}
Password changed!
{% endblock %}


{% block card_p %}
<div class="alert alert-success" role="alert">
  You have successfully changed your password! You may now proceed to log in.
</div>
{% endblock %}


{% block button %}
<a href="{% url 'login' %}" class="btn btn-secondary btn-block">
  <strong>Return to log in</strong>     
</a>
{% endblock %}


{% block card_footer_main %}{% endblock %}