{% extends "accounts/accounts_base.html" %}


{% block title %}
New Password
{% endblock %}


{% block card_body %}
<div class="card-body">

  {% if validlink %}
    <h3 class="card-title"><strong>Change password</strong></h3>
    <form method="post" novalidate>
      {% csrf_token %} {% include 'includes/_form.html' %}
      <button type="submit" class="btn btn-success btn-block">Change password</button>
    </form>

  {% else %}
    <h3 class="card-title"><strong>Reset your password</strong></h3>
    <div class="alert alert-danger" role="alert">
      It looks like you clicked on an invalid password reset link. Please try again.
    </div>
    
    <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">
      <strong>Request a new password reset link</strong>     
    </a>
  {% endif %}
</div>

{% endblock card_body %}


{% block card_footer_main %}{% endblock %}