{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-8 col-md-10 col-sm-12">
    <div class="card">

      <div class="card-body">
        <h3 class="card-title text-center"> <strong>Sign Up</strong> </h3>
        {% include "accounts/includes/_social.html" %}
        <form method="post" novalidate>
          {% csrf_token %} 
          {% include 'includes/_form.html' %}
          <button type="submit" class="btn btn-primary btn-block">
            <strong>Create an account</strong>
          </button>
        </form>
      </div>

      <div class="card-footer text-muted text-center">
        Already have an account? <a href="{% url 'login' %}">Log in</a>
      </div>

    </div>

    <div class="text-center py-2">
      <a class="text-muted" href="{% url 'password_reset' %}">Forgot your password?</a>
    </div>  
  </div>
</div>
{% endblock content %}