<div class="container">
  <div class="d-flex flex-row">
    <div class="col-9 mx-auto">
      <div class="media">
        <p class="align-self-center mr-3 typewrite" data-period="2000" data-type='["Hello, World! Welcome to <strong>Rosca&#39s</strong> Blog."]'>
          <span class="wrap"></span>
        </p>
        <div class="media-body">
          <div class="invisible"> <p>.</p> </div>
          <div class="invisible"> <p>.</p> </div>
          <div class="invisible"> <p>.</p> </div>
          <div class="invisible"> <p>.</p> </div>
          <div class="invisible"> <p>.</p> </div>
        </div>
      </div>
    </div>
  </div>
</div>