{% extends "base.html" %}

{% load static %}

{% load custom_tags %}

{% block title %}Home{% endblock title %}

{% block intro %} {% include 'includes/_type.html' %} {% endblock %}

{% block content %}
  <h1 class="my-4">Articles:
    <!-- <small>Secondary Text</small> -->
  </h1>

  <!-- Blog Post -->
  {% for post in posts %}
  <div class="card mb-4">
    <img class="card-img-top" src="https://picsum.photos/750/300/?image={% random_int 1 1000 %}" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title">{{ post.title }}</h2>
      <h5 class="text-muted"><i>{{ post.headline }}</i></h5>
      <p class="card-text">{{ post.body | truncatewords_html:50 | safe}}</p>
      <a href="{% url 'post_detail' post.id %}" class="btn btn-primary"><strong>Read More</strong></a>
    </div>
    <div class="card-footer text-muted">
      {{ post.date }} by
      <a href="#">{{ post.author }}</a>
    </div>
  </div>
  {% endfor %}

  {% include "includes/_pagination.html" %}

{% endblock content %}

{% block javascript %}
  <script src="{% static 'js/type.js' %}"></script>
{% endblock javascript %}