{% extends "base.html" %}

{% load custom_tags %} {% load gravatar %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
<div class="container">
  <div class="title">
    <h1>
      {{ post.title }}
    </h1>
    <hr>
  </div>
  <img class="img-fluid" src="https://picsum.photos/750/300/?image={% random_int 1 1000 %}" alt="Responsive image">
  <h3 class="text-muted" style="margin-top: 20px">
    <i>{{ post.headline }}</i>
  </h3>
  <p>{{ post.body | safe }}</p>
  {{ post.date }} by
  <a href="#">
    <img style="margin-left: 5px" src="{{ post.author|gravatar }}" class="w-18 rounded">
    {{ post.author }}
  </a>
  <br>
  <div class="row" style="margin-top: 10px">
    <div class="col-md-auto" style="margin-top: 15px">
      <a href="{% url 'home' %}" class="btn btn-primary">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        <strong style="margin-left: 5px">Home</strong>
      </a>
    </div>
    {% if post.author == user %}
    <div class="col-md-auto" style="margin-top: 15px">
      <a href="{% url 'edit_post' post.pk %}"
        class="btn btn-danger"
        role="button">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </a>
    </div>
    <div class="col-md-auto" style="margin-top: 15px">
      <a href="{% url 'delete_post' post.pk %}"
        class="btn btn-danger"
        role="button">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </a>
    </div>
    {% endif %}
  </div>  

</div>
{% endblock content %}