{% extends "base.html" %}

{% load custom_tags %} {% load gravatar %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
<div class="container">
  <div class="title">
    <h1>{{ post.title }}</h1>
  </div>
  <img class="img-fluid" src="https://picsum.photos/750/300/?image={% random_int 1 1000 %}" alt="Responsive image">
  <h3 class="text-muted" style="margin-top: 2rem">
    <i>{{ post.headline }}</i>
  </h3>
  <hr>  
  <p>{{ post.body|safe }}</p>
  <hr style="margin-top: -1rem">
  <div>
    {{ post.date }} by
    <a href="#">
      <img style="margin-left: 0.5rem" src="{{ post.author|gravatar }}" class="w-18 rounded">
      {{ post.author }}
    </a>
  </div>
  <br>
  <div class="d-inline p-2 row" style="margin-top: 1rem">
      <a href="{% url 'home' %}" class="btn btn-outline-primary" style="margin: 0.2rem">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        Home
      </a>
    {% if post.author == user %}
      <a href="{% url 'edit_post' post.pk %}"
        class="btn btn-outline-danger"
        role="button"
        style="margin: 0.2rem">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </a>
      <a href="{% url 'delete_post' post.pk %}"
        class="btn btn-outline-danger"
        role="button"
        style="margin: 0.2rem">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </a>
    {% endif %}
  </div>  

</div>
{% endblock content %}